body {
  border-color: #ecf4f3;
}

hr {

  border-style: none;
  border-top: dotted;
  border-color: #4e89ae;
  border-width: 5px;
  width: 4%;
}

h1{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}
